In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "name": ["Ram", "Shyam", "Hari"],
    "age": [25, 30, 22],
    "score": [85, 90, 78]
}

In [3]:
# creating the dataframe
df = pd.DataFrame(data)
df

    name  age  score
0    Ram   25     85
1  Shyam   30     90
2   Hari   22     78